python-keystoneclient
python-cinderclient
python-heatclient
python-magnumclient
python-muranoclient
python-novaclient
whisper
gnocchiclient
nectarallocationclient
manukaclient
placementclient
numpy
pandas
pbr
