python-keystoneclient
python-cinderclient
python-heatclient
python-magnumclient
python-muranoclient
python-novaclient
python-troveclient
warreclient
gnocchiclient
nectarallocationclient
manukaclient
placementclient
prometheus-client
requests
numpy
pandas
pbr
