Source: nectar-metrics
Section: admin
Priority: optional
Maintainer: Russell Sim <russell.sim@gmail.com>
Build-Depends:
 debhelper (>= 9),
 python-all (>= 2.6),
 python-setuptools,
 python-pip (>= 1.2),
 python3-all (>= 2.6),
 python3-setuptools,
 python3-pip (>= 1.2),
 dh-python
Build-Depends-Indep:
 python-pytest,
 python-pytest-mock,
 python-cinderclient,
 python-novaclient,
 python-keystoneclient,
 python-gnocchiclient,
 python-nectarallocationclient,
 python3-pytest,
 python3-pytest-mock,
 python3-cinderclient,
 python3-novaclient,
 python3-keystoneclient,
 python3-gnocchiclient,
 python3-nectarallocationclient
Standards-Version: 3.9.5
Homepage: https://github.com/NeCTAR-RC/nectar-metrics

Package: python-nectar-metrics
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-placementclient,
 python-whisper
Description: Metrics collection for the Nectar Research Cloud.
 nectar-metrics, Metrics collection for the Nectar Research Cloud.

Package: python3-nectar-metrics
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-placementclient,
 python3-whisper
Description: Metrics collection for the Nectar Research Cloud.
 nectar-metrics, Metrics collection for the Nectar Research Cloud.
