Source: python-nectar-metrics
Section: admin
Priority: optional
Maintainer: Russell Sim <russell.sim@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.6), python-setuptools, python-pip (>= 1.2)
Standards-Version: 3.9.5
Homepage: https://github.com/NeCTAR-RC/nectar-metrics

Package: python-nectar-metrics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Metrics collection for the NeCTAR Research Cloud.
 nectar-metrics, Metrics collection for the NeCTAR Research Cloud.

Package: nectar-ceilometer-agent-swift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-nectar-metrics, ceilometer-common
Description: Metrics collection for the NeCTAR Research Cloud.
 This package contains the swift pollsters to be run on storage nodes
